  <%
    if (flashMessage.message) {
  %>
    <div class="flashMessage">
      <div class="message">
        <p><%= flashMessage.message %></p>
      </div>
    </div>
  <% } %>
  <script src="/public/javascripts/flashMessage.js"></script>
</body>
</html>
