<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="stylesheet" href="/public/stylesheets/footer.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <title>Let's Voting</title>
</head>
<body>
  <header>
    <div class="header">
      <div class="logo">
        <a href="/">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Google_Forms_2020_Logo.svg/1489px-Google_Forms_2020_Logo.svg.png" alt="logo">
        </a>
      </div>
      <div class="button-group">
        <% if (isLogin) { %>
          <div class="logout">
            <button class="logout-btn" onclick="location.href='/logout'">Logout</button>
          </div>
          <div class="myPage">
            <button class="myPage-btn" onclick="location.href='/my-votings'">Mypage</button>
          </div>
          <div class="newVote">
            <button class="new-vote-btn" onclick="location.href='/votings/new'">Create</button>
          </div>
        <% } else { %>
          <div class="login">
            <button class="login-btn" onclick="location.href='/login'">Login</button>
          </div>
          <div class="signup">
            <button class="signup-btn" onclick="location.href='/signup'">Sign Up</button>
          </div>
        <% } %>
      </div>
    </div>
    <!-- <nav>
      <div class="menu">
        <span>질문</span>
        <div class="line"></div>
      </div>
    </nav> -->
  </header>
