<%-include("./includes/header.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/newVoting.css">
  <article>
    <form action="/votings/new" method="post">
      <div class="vote">
        <div class="title">
          <input
            type="text"
            name="vote_title"
            class="vote-title"
            value="제목 없는 설문지"
            required
          >
        </div>
        <ul class="options">
          <li class="option">
            <input
              type="radio"
              name="voter"
              class="voter"
            >
            <input
              type="text"
              name="vote_content"
              class="vote-content"
              value="option"
            >
            <button type="button" class="delete-btn">✘</button>
          </li>
          <li class="option">
            <input
              type="radio"
              name="voter"
              class="voter"
            >
            <input
              type="text"
              name="vote_content"
              class="vote-content"
              value="option"
            >
            <button type="button" class="delete-btn">✘</button>
          </li>
        </ul>
        <button type="button" class="option-btn">옵션 추가</button>
        <div class="expiration-date">
          <input
            type="datetime-local"
            name="vote_expiration_date"
            class="vote-expiration-date"
            required
          >
        </div>
        <button type="submit" class="submit-btn">제출</button>
      </div>
    </form>
    <button class="home-btn" onclick="location.href='/'">Home</button>
  </article>
  <script src="/public/javascripts/newVote.js"></script>
<%-include("./includes/footer.ejs") %>
