<%-include("./includes/header.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/newVoting.css">
  <article>
    <form action="/votings/new" method="post">
      <div class="vote">
        <div class="title">
          <input
            type="text"
            name="voteTitle"
            class="votePostTitle"
            value="제목 없는 설문지"
            required
          >
        </div>
        <ul class="optionList">
          <li class="option">
            <input
              type="radio"
              class="radioBtn"
            >
            <input
              type="text"
              name="voteContent"
              class="votePostContent"
              value="option"
              required
            >
            <button type="button" class="deleteBtn">✘</button>
          </li>
          <li class="option">
            <input
              type="radio"
              class="radioBtn"
            >
            <input
              type="text"
              name="voteContent"
              class="votePostContent"
              value="option"
              required
            >
            <button type="button" class="deleteBtn">✘</button>
          </li>
        </ul>
        <button type="button" class="optionAddBtn">옵션 추가</button>
        <div class="expirationDate">
          <input
            type="datetime-local"
            name="voteExpirationDate"
            class="votePostExpirationDate"
            required
          >
        </div>
        <button type="submit" class="submitBtn">제출</button>
      </div>
    </form>
    <button class="homeBtn" onclick="location.href='/'">Home</button>
  </article>
  <script src="/public/javascripts/newVote.js"></script>
<%-include("./includes/footer.ejs") %>
