<%-include("./includes/header.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/newVoting.css">
  <article>
    <form action="/votings/" method="post">
      <div class="vote-content">
        <div class="title">
          <input type="text" name="vote_title" class="vote-title" value="음식 투표하기">
        </div>
        <ul class="options">
          <li class="option">
            <input type="radio" name="vote_checked" class="vote-checked">
            <input type="text" name="vote_check_title" class="vote-check-title" value="떡볶이" readonly>
          </li>
          <li class="option">
            <input type="radio" name="vote_checked" class="vote-checked">
            <input type="text" name="vote_check_title" class="vote-check-title" value="김치국" readonly>
          </li>
          <li class="option">
            <input type="radio" name="vote_checked" class="vote-checked">
            <input type="text" name="vote_check_title" class="vote-check-title" value="마라탕" readonly>
          </li>
        </ul>
        <div class="expiration-date">
          <input type="datetime-local" name="vote_expiration_date" class="vote-expiration-date">
        </div>
        <button type="button" class="submit-btn">취소</button>
      </div>
    </form>
  </article>
<%-include("./includes/footer.ejs") %>
