body {
  position: relative;
}

.flashMessage {
  position: absolute;
  width: 100%;
  top: 320px;
  left: 20%;
}

.flashMessage .message {
  width: 60%;
  padding: 50px 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.315);
}

.flashMessage .remove {
  visibility: visible;
  transform-origin: top center;
  opacity: 0;
  transition: all .5s;
}
