article form {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

article form .vote {
  margin-top: 10px;
}

article form .vote .title {
  padding: 10px;
}

article form .vote .title .vote-title {
  width: 80%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}

article form .vote .options .option {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
}

article form .vote .options .option .vote-content {
  width: 80%;
  height: 30px;
  font-size: 16px;
}
