article {
  padding-top: 300px;
}

article form {
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid rgb(138, 71, 201);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(138, 71, 201, 0.39);
}

article form .pageTitle {
  padding: 5px 0 40px 0;
  font-size: 24px;
  font-family: "Pacifico", cursive;
  color: rgb(138, 71, 201);
  text-shadow: 1px 1px 3px rgba(138, 71, 201, 0.39);
}

article form .userEmail,
article form .userPassword,
article form .userPasswordCheck {
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(138, 71, 201, 0.229);
}

article form .userEmail .emailInput,
article form .userPassword .passwordInput,
article form .userPasswordCheck .passwordCheckInput {
  width: 80%;
  height: 25px;
  font-size: 16px;
  background-color: transparent;
}

article form .submitBtn {
  margin-top: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(138, 71, 201);
  cursor: pointer;
}
