article .pageTitle {
  padding: 5px 0 50px 0;
  font-size: 30px;
  font-family: "Pacifico", cursive;
  color: rgb(138, 71, 201);
  text-shadow: 1px 1px 3px rgba(138, 71, 201, 0.39);
}

article .vote {
  width: 70%;
  margin: 0 auto;
}

article .vote .showVoteHeader {
  height: 120px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.247);
  overflow: hidden;
}

article .vote .showVoteHeader .line {
  height: 20px;
  text-align: left;
  padding: 4px 5px 0 10px;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  font-family: 'BMJUA';
  color: white;
  background-color: rgb(118, 55, 177);
}

article .vote .showVoteHeader .votePostTitle {
  text-align: left;
  margin-left: 10px;
  padding: 30px 0 10px 5px;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);
}

article .vote .showVoteHeader .creator {
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
  font-family: 'BMJUA';
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
}

article .vote form .formContainer {
  display: flex;
}

article .vote form .formContainer .optionList {
  width: 100%;
  height: 100%;
  margin: 30px 0 0 0;
  padding: 20px;
  text-align: left;
  border-radius: 0 10px 10px 0;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.247);
}

article .vote form .formContainer .line {
  width: 10px;
  margin: 30px 0 0 0;
  border-radius: 10px 0 0 10px;
  background-color: rgb(118, 55, 177);
}

article .vote form .formContainer .optionList .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
}

article .vote form .formContainer .optionList .option .voteCount {
  text-align: right;
}

article .vote form .expirationDate {
  text-align: left;
  margin-top: 10px;
}

article .vote form .expirationDate .votePostExpirationDate {
  width: 100%;
  margin-bottom: 10px;
  border-top: 3px solid rgb(118, 55, 177);
  border-radius: 3px;
  font-size: 16px;
  font-family: 'BMJUA';
  background-color: transparent;
}

article .vote form .submitBtn {
  margin: 10px 0 30px 0;
  font-size: 16px;
  font-family: 'BMJUA';
}

article .resultContainer {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  border: 2px solid rgb(118, 55, 177);
  border-radius: 10px;
  background-color: white;
}

article .backBtn, article .removeBtn {
  margin: 20px 10px;
  font-size: 16px;
  font-family: 'BMJUA';
}
